@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


#hexagon {
  width: 35px;
  height: 26px;
  background: red;
  position: relative;
}

#hexagon::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 7.5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid red;
}


/* CSS for the fade animation */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}